# Bonus: Temperature Analysis I

In [98]:
import pandas as pd
import datetime as dt

In [99]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [100]:
# Convert the date column format from string to datetime
datetimes = []
for date in df['date']:
    date_list = date.split("-")
    datetime_obj = dt.datetime(int(date_list[0]), int(date_list[1]), int(date_list[2]))
    datetimes.append(datetime_obj)
df['datetime'] = datetimes

df.head()

       station        date  prcp  tobs   datetime
0  USC00519397  2010-01-01  0.08    65 2010-01-01
1  USC00519397  2010-01-02  0.00    63 2010-01-02
2  USC00519397  2010-01-03  0.00    74 2010-01-03
3  USC00519397  2010-01-04  0.00    76 2010-01-04
4  USC00519397  2010-01-06   NaN    73 2010-01-06

In [101]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs   datetime
date
2010-01-01  USC00519397  0.08    65 2010-01-01
2010-01-02  USC00519397  0.00    63 2010-01-02
2010-01-03  USC00519397  0.00    74 2010-01-03
2010-01-04  USC00519397  0.00    76 2010-01-04
2010-01-06  USC00519397   NaN    73 2010-01-06
...                 ...   ...   ...        ...
2017-08-19  USC00516128  0.09    71 2017-08-19
2017-08-20  USC00516128   NaN    78 2017-08-20
2017-08-21  USC00516128  0.56    76 2017-08-21
2017-08-22  USC00516128  0.50    76 2017-08-22
2017-08-23  USC00516128  0.45    76 2017-08-23

[19550 rows x 4 columns]

In [102]:
# Drop the date column
del df['date']

### Compare June and December data across all years

In [103]:
from scipy import stats

In [104]:
# Filter data for desired months
june_data = df[df['datetime'].dt.month == 6]
dec_data = df[df['datetime'].dt.month == 12]

In [105]:
# Identify the average temperature for June
june_avg = round(june_data['tobs'].mean(), 2)

june_avg

74.94

In [106]:
# Identify the average temperature for December
dec_avg = round(dec_data['tobs'].mean(), 2)

dec_avg

71.04

In [107]:
# Create collections of temperature data

june_temps = june_data['tobs'].sample(500)
dec_temps = dec_data['tobs'].sample(500)

In [108]:
# Run paired t-test
stats.ttest_rel(june_temps, dec_temps)

Ttest_relResult(statistic=17.834314043605033, pvalue=2.111319510112886e-55)

### Analysis

I used a two-sided t-test, because the calculated mean difference could be lower or higher, so we need both sides to capture any differences. 
The t-test yielded a p-value of essentially 0, meaning that there is a statistically significant difference between the mean temperature in June and December.